
header img{
	width:100%;
	height:90px;
}
menu{
	width:100%;
}
menu #mid_menu{
	margin:0 auto;
	width:930px;
	height:50px;
}
menu #login{
	float:left;
	font-size:14px;
	height:20px;
	width:35%;
	overflow:hidden;
}
menu #gundong{
	float:left;
	font-size:14px;
	height:20px;
	width:65%;
	overflow:hidden;
	position:relative;
}
menu #gundong #liebiao{
	position:absolute;
	height:40px;
}
menu #login{
	position:relative;
	height:200px;
}
menu #login span{
		margin-left:20px;
}
menu ul{
	list-style:none;
}
.active{
	color:red;
}
menu #mid_menu #login #caidan{
		z-index:4;
		position:absolute;
		width:120px;
		height:200px;
		top:0px;
		left:200px;
}
#xiala{
	border:1px solid #ddd;
	padding-top:20px;
	
	
	
}
#xiala ul{
	width:80px;
}
section{
	
	position:relative;
	width:100%;
	height:424px;
	overflow:hidden;
}
section #inner{
	position:absolute;
	width:500%;
	height:424px;
}
section #inner ul{
	width:100%;
	height:424px;
}
section #inner ul li{
	width:20%;
	height:424px;
	float:left;
	
}
section #inner #pic1{
	background:url(../images/a.jpg) no-repeat;
	background-position:50% 50%;
}
section #inner #pic2{
	background:url(../images/b.jpg) no-repeat;
	background-position:50% 50%;
}
section #inner #pic3{
	background:url(../images/c.jpg) no-repeat;
	background-position:50% 50%;
}
section #inner #pic4{
	background:url(../images/d.jpg) no-repeat;
	background-position:50% 50%;
}
section #inner #pic5{
	background:url(../images/a.jpg) no-repeat;
	background-position:50% 50%;
}
.ishow{
	display:none;
}
.ishide{
	display:block;
}
#ceshi{
	width:100%;
	height:20px;
}
#zhongjian{
	position:relative;
	width:100%;
	height:424px;
	overflow:hidden;
}
nav{
	width:100%;
	background:url(../images/logo_1.png) no-repeat  30px 0;
	height:50px;
}
nav #yfw_nav{
	width:60%;
	margin:0 auto;
}
nav #nav_img{
	float:left;
	display:block;
}
nav #form_style{
	width:400px;
	float:left;
	margin-left:20px;
}
nav #form_style input{
	border:3px solid blue;
	width:300px;
	font-size:20px;
	float:left;
}
nav #form_style button{
	background:blue;
	border-radius:none;
	border:1px solid blue;
	color:white;
	padding-top:1px;
	height:34px;
	float:left;
	
}